[user]
	name = dementy-fut
	email = dementy@bintime.com
[color]
    ui = true
    diff = auto
[color "branch"]
    current = green reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green 
    changed = yellow
    untracked = cyan
[core]
    filemode = false
#[push]
#	default = simple
[push]
	default = matching
